<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <link href="~/Content/JS/Jqgrid/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/JS/Jqgrid/ui.jqgrid.css" rel="stylesheet" />
    <script src="~/Content/JS/Jqgrid/grid.locale-en.js"></script>
    <script src="~/Content/JS/Jqgrid/jquery.jqGrid.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
