
@{
    ViewBag.Title = "Index2";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/Content/JS/Jqgrid/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/JS/Jqgrid/ui.jqgrid.css" rel="stylesheet" />
<script src="~/Content/JS/Jqgrid/grid.locale-en.js"></script>
<script src="~/Content/JS/Jqgrid/jquery.jqGrid.js"></script>

<h2>Index2</h2>

<table id="list2"></table>
<div id="pager2"></div>


<script>
    $(function () {
        debugger;
        $("#list2").jqGrid({
            //mtype: 'GET',
            datatype: "json",
            //data: JSON.stringify(data),
            url: '@Url.Action("GetData","Employee_Master")',
            height: 250,
            colModel:
                [
                    { label: 'Id', name: 'EmpId', index: 'EmpId', width: 150, hidden: true },
                    { label: 'Name', name: 'Name', index: 'Name', width: 150 },
                    { label: 'Dob', name: 'Date_Of_Birth', index: 'Date_Of_Birth', width: 150 },
                    { label: 'Phone', name: 'Phone', index: 'Phone', width: 150 },
                    { label: 'Address', name: 'Address', index: 'Address', width: 150 },
                    { label: 'Country', name: 'Country', index: 'Country', width: 150 },
                    { label: 'State', name: 'State', index: 'State', width: 150 },
                    { label: 'City', name: 'City', index: 'City', width: 150 },
                    { label: 'EmailId', name: 'EmailId', index: 'EmailId', width: 150 },
                ],
            viewrecord: true,
        });
    });

</script>